{% extends "calculator/base.html" %}
{% block content %}
<div class="login-clean">
  <h1 style="text-align:center;">About</h1>
  <h5 class="text-muted" style="text-align:center;padding: 20px 250px;">
    Our mission is to provide students from across the Unite States with an accurate, reliable Snow Day calculator.
    Using real-time weather updates and Google's location API, our advanced algorithm uses several data points
    to produce the most accurate prediction possible. Though Snow Day decisions ultimately come from individual school administations,
    our calculator is a formulaic indicator of Snow Day likelihood. Created by Colin and Trey Brosnan.
  </h5>
</div>
{% endblock content %}
