{% extends "calculator/base.html" %}
{% block content %}
  <div class="login-clean">
    <div class="row">
      <div class="col"></div>
      <div class="col construction-logo-container">
        <i class="fa fa-warning"></i>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col construction-logo-container">
        <h1>This Page is Currently Under Construction</h1>
        <h2>Please try again later.</h2>
      </div>
    </div>
  </div>
{% endblock content %}
